* { 
    padding:5px;
}
body {
    background-color: bisque;
    font-size:large; 
}

h1 {
    color:green;
    text-align: center;
    font-size: 500;
}

a { 
    font-weight: bolder;
}

img {
    box-shadow: 10px 10px;
    margin: 10px 5px 10px 5px; 
    
}

ol {
    border-style: solid;
    border-radius: 3px;
    border-color:darkgoldenrod; 
    
    padding: 10px 20px 10px 20px; 
}

aside {
    text-align: right;
}

.fancy, .caacupe-one-regular {
  font-family: "Caacupe One", sans-serif;
  font-weight: 400;
  font-style: normal;
}