*{
    padding:10px;
    margin:0;
}


section{  
  margin: 20px 0;
}

ul{    
  padding-left: 40px;
}

ul ul ul {
  margin-top: 10px;
}

/* Add style here */
section > ul > li:first-child {
  color:royalblue; 
  background-color: white;
}

li:nth-child(2) {
  color:forestgreen;
}

li:nth-child(3) {
  color: crimson;
}

section > ul > ul > li:nth-child(1) {
  color:violet;
  background-color: lightgray;
}
section > ul > ul > li:nth-child(3) {
  color:violet;
  background-color: lightgray;
}

section > ul > ul > ul > li {
  color:darkorange; 
  background-color: beige;
}

section > ul > li:nth-child(5) {
  color: royalblue; 
}
